<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Employee Account</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="page-background">
 <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
		
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/}">Jobbom</a>
			</div>

			<div class="pull-right">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/employee/dashboard}"><span class="glyphicon glyphicon-search"></span> Find vacancies</a></li>
					<li><a th:href="@{/employee/post-resume}"><span class="glyphicon glyphicon-plus"></span> Post resume</a></li>
          			<li><a th:href="@{/employee/get-resumes}"><span class="glyphicon glyphicon-list"></span> My resumes</a></li>
       				<li><a th:href="@{/employee/account}"><span class="glyphicon glyphicon-user"></span> Account</a></li>
       				<li><a th:href="@{/logout}"><span class="glyphicon glyphicon-home"></span> Logout</a></li>
					<li><a th:href="@{?lang=en}"><img th:src="@{/img/us.png}"> English</a></li>
					<li><a th:href="@{?lang=ru}"><img th:src="@{/img/rus.png}"> Russian</a></li>
				</ul>
			</div>
			
		</div>
	</nav><br/><br/><br/><br/>
	
	<div class="container">	
 	<div class="row">

    <form th:action="@{/employee/account}" th:method="get" th:object="${employeeDto}">
		<div class="col-md-8 col-md-offset-2 account-div account-div-personal-info">
			<h1 style="text-align:center;">Employee Account</h1><br/><br/>
      		<p>Username: <span th:text="*{username}" style="font-family: cursive;">kop22</span></p>
      		<p>First name: <span th:text="*{firstName}" style="font-family: cursive">Kateryna</span></p>
      		<p>Last name: <span th:text="*{lastName}" style="font-family: cursive">Koop</span></p>
      		<p>Email: <span th:text="*{email}" style="font-family: cursive">katerynakoop@gmail.com</span></p>
      		<p>Phone number: <span th:text="*{phoneNum}" style="font-family: cursive">+380123456789</span></p>
      		<div class="center-btn"><button type="submit" class="btn btn-info btn-lg style" style = "width: 450px;"
      			 name="edit"><a th:href="@{/employee/account/edit/user}">Edit</a></button></div>
    	</div>
    </form>

 	</div>
	</div>
	
  </body>
</html>
