<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Edit User Info</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
</head>
<body class="page-background">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
		
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/}">Jobbom</a>
			</div>

			<div class="pull-right">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/employer/dashboard}"><span class="glyphicon glyphicon-search"></span> Find resumes</a></li>
					<li><a th:href="@{/employer/post-job}"><span class="glyphicon glyphicon-plus"></span> Post a job</a></li>
          			<li><a th:href="@{/employer/get-jobs}"><span class="glyphicon glyphicon-list"></span> My jobs</a></li>
       				<li><a th:href="@{/employer/account}"><span class="glyphicon glyphicon-user"></span> Account</a></li>
       				<li><a th:href="@{/logout}"><span class="glyphicon glyphicon-home"></span> Logout</a></li>
					<li><a th:href="@{?lang=en}"><img th:src="@{/img/us.png}"> English</a></li>
					<li><a th:href="@{?lang=ru}"><img th:src="@{/img/rus.png}"> Russian</a></li>
				</ul>
			</div>
			
		</div>
	</nav><br/><br/><br/><br/>
	
	<div class="container">
		<div class="row">s
			<div class="col-md-8 col-md-offset-2 colorful-block">
			
				<h2 align="center">Edit info about user:</h2><br/><br/>
				<form th:action="@{/employer/account/edit/user/{id}(id = ${employerId})}" method="post">

					<div class="form-group">
						<label class="control-label" for="username" 
							th:text="#{user.username}"> Username </label>
						<input id="username" th:value="${userDto.username}" class="form-control"
							th:field="${userDto.username}" required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="firstName"
							th:text="#{user.first_name}"> First Name </label>
						<input id="firstName" th:value="${userDto.firstName}" class="form-control" 
							th:field="${userDto.firstName}" required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="lastName"
							th:text="#{user.last_name}"> Last Name </label>
						<input id="lastName" th:value="${userDto.lastName}" class="form-control" 
							th:field="${userDto.lastName}" required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label for="email" 
							th:text="#{user.email}">Email</label>
						<textarea id="email" class="form-control" th:value="${userDto.email}" 
							th:field="${userDto.email}" required autofocus="autofocus" rows="3"></textarea>
					</div>
					
					<div class="form-group">
						<label class="control-label" for="phoneNum" 
							th:text="#{user.phone_num}">Phone Number</label>
						<input id="phoneNum" th:value="${userDto.phoneNum}" class="form-control" 
							th:field="${userDto.phoneNum}" required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="employerPosition" 
							th:text="#{employer.position}">Your position in company</label>
						<input id="employerPosition" th:value="${position}" class="form-control" 
							th:field="${position}" required autofocus="autofocus">
					</div>
					
					<div class="form-group">
						<div class="center-btn"><button type="submit" class="btn btn-primary"
						 	th:text="#{app.edit}" style="width: 300px;">Edit</button></div>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</body>
</html>