<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Jobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
  <body class="page-background">
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
		
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/}">Jobbom</a>
			</div>

			<div class="pull-right">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/employer/dashboard}"><span class="glyphicon glyphicon-search"></span> Find resumes</a></li>
					<li><a th:href="@{/employer/post-job}"><span class="glyphicon glyphicon-plus"></span> Post a job</a></li>
          			<li><a th:href="@{/employer/get-jobs}"><span class="glyphicon glyphicon-list"></span> My jobs</a></li>
       				<li><a th:href="@{/employer/account}"><span class="glyphicon glyphicon-user"></span> Account</a></li>
       				<li><a th:href="@{/logout}"><span class="glyphicon glyphicon-home"></span> Logout</a></li>
					<li><a th:href="@{?lang=en}"><img th:src="@{/img/us.png}"> English</a></li>
					<li><a th:href="@{?lang=ru}"><img th:src="@{/img/rus.png}"> Russian</a></li>
				</ul>
			</div>
			
		</div>
	</nav><br/><br/><br/><br/>

  	<h1 style="text-align:center;">Jobs</h1>
  	<div class="container">
  		<div class="row">
      		<div class="col-md-12 show-item">
			<div id="job">
				<table class="table table-bordered">
  				<thead>
    				<tr class="danger" >
      					<th  class="table-header" scope="col">Title</th>
      					<th class="table-header" scope="col">Post Date</th>
      					<th class="table-header"scope="col">Description</th>
      					<th class="table-header" scope="col">Industry</th>
      					<th class="table-header" scope="col">Status</th>
      					<th class="table-header" scope="col">Location</th>
      					<th class="table-header" scope="col">Skills</th>
      					<th class="table-header" scope="col">Salary</th>
      					<th class="table-header" scope="col">Employment Type</th>
      					<th class="table-header" scope="col">Get Job Applicants</th>
    				</tr>
  				</thead>
  			<tbody>
    			<tr class="info" th:each="job : ${jobs}">
    				<td><span class="user-info" th:text="${job.jobTitle}"></span></td>
       				<td><span class="user-info" th:text="${job.postedOn}"></span></td>
        			<td><span class="user-info" th:text="${job.description}"></span></td>
       				<td><span class="user-info" th:text="${job.industry}"></span></td>
       				<td><span class="user-info" th:text="${job.status.toString()}"></span></td>
       				<td><span class="user-info" th:text="${job.location}"></span></td>
       				<td><span class="user-info" th:text="${job.skills}"></span></td> 
       				<td><span class="user-info" th:text="${job.salary}"></span></td>
       				<td><span class="user-info" th:text="${job.employmentType.toString()}"></span></td>	
       				<td>
       					<div><button type="button" class="btn btn-primary">
        	     			<a class="apply-btn-ref" th:href="@{/employer/get-job/get-job-applicants/{jobId}(jobId = ${job.jobId})}">
        	     				Get Job Applicants</a>
        	     		</button></div>
        	     	</td>
    			</tr>
  			</tbody>
			</table>
		</div>
  	</div>
  </div>
 </div>
</body>
</html>
