<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Jobbom</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" th:href="@{/style.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
  <body class="page">
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Jobbom</a>
			</div>

			<div class="pull-right">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="#" th:text="#"><span class="glyphicon glyphicon-search"></span>
						Find resumes</a></li>
					<li><a th:href="#"  th:text="#"><span class="glyphicon glyphicon-plus"></span>
						Post a job</a></li>
          <li><a th:href="#"  th:text="#"><span class="glyphicon glyphicon-list"></span>
        		My jobs</a></li>
          <li><a th:href="#"  th:text="#"><span class="glyphicon glyphicon-user"></span>
  					Account</a></li>

					<li><a th:href="@{?lang=en}"><img th:src="@{/img/us.png}"> English</a></li>
					<li><a th:href="@{?lang=ru}"><img th:src="@{/img/rus.png}"> Russian</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br/><br/><br/><br/>

  <h1 style="text-align:center;">Account</h1>

  <div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-4"
      style="background-color: white; height: 400px; width: 600px; margin-top: 10px; margin-left: 30px; margin-right: 0px; margin-bottom: 100px;">
      <h2 style="text-align: center;">Company info</h2>
      <p>Name: <span style="font-family: cursive;">PrivatBank</span></p>
      <p>Code EDRPOU: <span style="font-family: cursive">12345678</span></p>
      <p>Address: <span style="font-family: cursive">Kyiv, Garmatna, 36</span></p>
      <p>Description: <span style="font-family: cursive">The biggest bak in Ukraine</span></p>
      <p>Industry: <span style="font-family: cursive">Banking</span></p>
      <p>Employees number: <span style="font-family: cursive">10 000</span></p>
      <button type="button" class="btn btn-info btn-lg" name="edit" style="width: 570px;">Edit</button>
    </div>

    <div class="col-md-4"
      style="background-color: white; height: 400px; width: 600px; margin-top: 10px; margin-left: 30px; margin-right: 50px; margin-bottom: 100px;">
      <h2 style="text-align: center;">Personal info</h2>
      <p>Username: <span style="font-family: cursive;">kop22</span></p>
      <p>First name: <span style="font-family: cursive">Kateryna</span></p>
      <p>Last name: <span style="font-family: cursive">Koop</span></p>
      <p>Email: <span style="font-family: cursive">katerynakoop@gmail.com</span></p>
      <p>Phone number: <span style="font-family: cursive">+380123456789</span></p>
      <p>Position in company: <span style="font-family: cursive">HR</span></p>
      <button type="button" class="btn btn-info btn-lg" name="edit" style="width: 570px;">Edit</button>
    </div>

    <div class="col-md-1">
    </div>

  </div>

  </body>
</html>
