<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="page-background">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/}">Jobbom</a>
			</div>
		</div>
	</nav><br/><br/><br/><br/><br/>

	<div class = "container">
		<div class = "row">
			<div class = "col-md-6 col-md-offset-3 colorful-block">
				
				<h1 align="center" th:text="#{login.title}"> Login </h1>
				<form th:action="@{/login}" method="post">
        			
					<div class = "form-group">
						<label for ="username" th:text="#{login.username}">Username</label>:
						<input type="text" class = "form-control" id ="username" name = "username"
							th:placeholder="#{login.placeholder.username}" placeholder="Enter username" autofocus="autofocus">
					</div>
				
					<div class="form-group">
						<label for="password" th:text="#{login.password}">Password</label>:
						<input type="password" id="password" name="password" class="form-control"
							th:placeholder="#{login.placeholder.password}" placeholder="Enter Password" />
					</div>
					
					<div th:if="${errorMessage != null}" >
            			<div class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
        			</div>
					
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" th:value="#{app.login}" />
							</div>
						</div>
					</div>
				
				</form>
				<div class="form-group">
						<span th:text="#{login.new_user}"></span>
				 		<a href="/" th:href="@{/sign-up/employee}" th:text="#{app.register}"></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>